{% extends './layout.html' %}
{% block title %} titulos {% endblock %}
{% block body %}
<h2>Correlacione su tabla con los <br> {{cabecera}}</h2>
<div class="row">
    <div class="col-md-6 offset-md-3">
        
        
        <div class="table-responsive">
            <table class="table table-striped" id="select1">
                <thead>
                    <tr>
                       <th> mg/L</th>
                       <th>Aniones y Cationes </th> 
                       <th>Validación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gp in elem %}
                    
                    <tr>
                        <td>{{gp}}</td>
                        <td>
                            <select id=s{{gp}} onchange="validar()" class="form-select" aria-label="Default select example" required>
                                <option selected>Seleccione columna</option>
                                {% for e in tabla %}
                                <option value={{e}}>{{e}}</option>
                                {% endfor %}
                              </select>
                        </td>
                        <td>
                            <p id=aCl></p>
                            
                        </td>
                        
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            
            <py-script>
                def validar():
                    s = document.getElementById("Cl").value
                    pyscript.write("aCL",s)
                
            </py-script>
            
        </div>

    </div>
</div>
<div>
    
</div>
{% endblock %}