{% extends './layout.html' %}
{% block title %} titulos {% endblock %}
{% block body %}
<form action="" method="post" id="envtipog">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <label for="select1">Seleccione tipo de grafico</label>
            <select id="select1" name="tipog"  class="form-select" aria-label="Default select example" form="envtipog" required>
                <option selected>Seleccione</option>
                <option value="Piper">Piper</option>
                <option value="Schoeller">Shoeller</option>
                <option value="Gibbs">Gibbs</option>
            </select>
        </div>
    </div>
    
    <input type="submit" name="Tablas" value="Siguiente">
</form> 


       

{% endblock %}