{% extends './layout.html' %}
{% block title %} Visor {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Seleccion tipo de grafico</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                       <th>#</th>
                       <th>Nombre</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for gp in tipografico %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{gp}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

{% endblock %}